# Xcode はスキーム保存時に é を XML 実体参照(e&#x301; / &#xe9; 等)へ書き換え、
# さらに version="1.x" メタデータも書き戻して、実害のない差分ノイズを作る。
# clean フィルタで git から見える内容を「NFC の é+version=1.3 固定」に正規化する
# (揺れる部分を git 境界で固定値化する方式。2026-08-17 拡張)。
# フィルタ実体はローカル設定が必要(クローン後に1回):
#   git config filter.xcscheme-nfc.clean "perl -CSD -pe 's/(?:e&#x301;|e&#769;|&#x[eE]9;|&#233;|e\\x{301}|\xC3\xA9|\xE9)critu/\\x{E9}critu/g; s/^(\\s*version = \")1\\.[0-9]+(\">)\$/\${1}1.3\${2}/'"
*.xcscheme filter=xcscheme-nfc
