<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <!-- 世界のミュージシャン100 (A) -->
    <dict><key>phrase</key><string>ザ・ビートルズ</string><key>shortcut</key><string>ざびーとるず</string></dict>
    <dict><key>phrase</key><string>ビートルズ</string><key>shortcut</key><string>びーとるず</string></dict>
    <dict><key>phrase</key><string>マイケル・ジャクソン</string><key>shortcut</key><string>まいけるじゃくそん</string></dict>
    <dict><key>phrase</key><string>エルヴィス・プレスリー</string><key>shortcut</key><string>えるゔぃすぷれすりー</string></dict>
    <dict><key>phrase</key><string>ボブ・ディラン</string><key>shortcut</key><string>ぼぶでぃらん</string></dict>
    <dict><key>phrase</key><string>ザ・ローリング・ストーンズ</string><key>shortcut</key><string>ざろーりんぐすとーんず</string></dict>
    <dict><key>phrase</key><string>ローリング・ストーンズ</string><key>shortcut</key><string>ろーりんぐすとーんず</string></dict>
    <dict><key>phrase</key><string>クイーン</string><key>shortcut</key><string>くいーん</string></dict>
    <dict><key>phrase</key><string>マドンナ</string><key>shortcut</key><string>まどんな</string></dict>
    <dict><key>phrase</key><string>レッド・ツェッペリン</string><key>shortcut</key><string>れっどつぇっぺりん</string></dict>
    <dict><key>phrase</key><string>デヴィッド・ボウイ</string><key>shortcut</key><string>でゔぃっどぼうい</string></dict>
    <dict><key>phrase</key><string>プリンス</string><key>shortcut</key><string>ぷりんす</string></dict>
    <dict><key>phrase</key><string>スティーヴィー・ワンダー</string><key>shortcut</key><string>すてぃーゔぃーわんだー</string></dict>
    <dict><key>phrase</key><string>ジミ・ヘンドリックス</string><key>shortcut</key><string>じみへんどりっくす</string></dict>
    <dict><key>phrase</key><string>ボブ・マーリー</string><key>shortcut</key><string>ぼぶまーりー</string></dict>
    <dict><key>phrase</key><string>アレサ・フランクリン</string><key>shortcut</key><string>あれさふらんくりん</string></dict>
    <dict><key>phrase</key><string>ピンク・フロイド</string><key>shortcut</key><string>ぴんくふろいど</string></dict>
    <dict><key>phrase</key><string>ニルヴァーナ</string><key>shortcut</key><string>にるゔぁーな</string></dict>
    <dict><key>phrase</key><string>エルトン・ジョン</string><key>shortcut</key><string>えるとんじょん</string></dict>
    <dict><key>phrase</key><string>ポール・マッカートニー</string><key>shortcut</key><string>ぽーるまっかーとにー</string></dict>
    <dict><key>phrase</key><string>ジョン・レノン</string><key>shortcut</key><string>じょんれのん</string></dict>
    <dict><key>phrase</key><string>ジェームス・ブラウン</string><key>shortcut</key><string>じぇーむすぶらうん</string></dict>
    <dict><key>phrase</key><string>エリック・クラプトン</string><key>shortcut</key><string>えりっくくらぷとん</string></dict>
    <dict><key>phrase</key><string>テイラー・スウィフト</string><key>shortcut</key><string>ているーすうぃふと</string></dict>
    <dict><key>phrase</key><string>ビヨンセ</string><key>shortcut</key><string>びよんせ</string></dict>
    <dict><key>phrase</key><string>エミネム</string><key>shortcut</key><string>えみねむ</string></dict>
    <dict><key>phrase</key><string>マイルズ・デイヴィス</string><key>shortcut</key><string>まいるずでいゔぃす</string></dict>
    <dict><key>phrase</key><string>ルイ・アームストロング</string><key>shortcut</key><string>るいあーむすとろんぐ</string></dict>
    <dict><key>phrase</key><string>フランク・シナトラ</string><key>shortcut</key><string>ふらんくしなとら</string></dict>
    <dict><key>phrase</key><string>ホイットニー・ヒューストン</string><key>shortcut</key><string>ほいっとにーひゅーすとん</string></dict>
    <dict><key>phrase</key><string>マライア・キャリー</string><key>shortcut</key><string>まらいあきゃりー</string></dict>
    <dict><key>phrase</key><string>セリーヌ・ディオン</string><key>shortcut</key><string>せりーぬでぃおん</string></dict>
    <dict><key>phrase</key><string>ユーツー</string><key>shortcut</key><string>ゆーつー</string></dict>
    <dict><key>phrase</key><string>エーシーディーシー</string><key>shortcut</key><string>えーしーでぃーしー</string></dict>
    <dict><key>phrase</key><string>メタリカ</string><key>shortcut</key><string>めたりか</string></dict>
    <dict><key>phrase</key><string>ガンズ・アンド・ローゼズ</string><key>shortcut</key><string>がんずあんどろーぜず</string></dict>
    <dict><key>phrase</key><string>ボン・ジョヴィ</string><key>shortcut</key><string>ぼんじょゔぃ</string></dict>
    <dict><key>phrase</key><string>エアロスミス</string><key>shortcut</key><string>えあろすみす</string></dict>
    <dict><key>phrase</key><string>レッド・ホット・チリ・ペッパーズ</string><key>shortcut</key><string>れっどほっとちりぺっぱーず</string></dict>
    <dict><key>phrase</key><string>オアシス</string><key>shortcut</key><string>おあしす</string></dict>
    <dict><key>phrase</key><string>レディオヘッド</string><key>shortcut</key><string>れでぃおへっど</string></dict>
    <dict><key>phrase</key><string>コールドプレイ</string><key>shortcut</key><string>こーるどぷれい</string></dict>
    <dict><key>phrase</key><string>ブルーノ・マーズ</string><key>shortcut</key><string>ぶるーのまーず</string></dict>
    <dict><key>phrase</key><string>エド・シーラン</string><key>shortcut</key><string>えどしーらん</string></dict>
    <dict><key>phrase</key><string>レディー・ガガ</string><key>shortcut</key><string>れでぃーがが</string></dict>
    <dict><key>phrase</key><string>アデル</string><key>shortcut</key><string>あでる</string></dict>
    <dict><key>phrase</key><string>リアーナ</string><key>shortcut</key><string>りあーな</string></dict>
    <dict><key>phrase</key><string>ジャスティン・ビーバー</string><key>shortcut</key><string>じゃすてぃんびーばー</string></dict>
    <dict><key>phrase</key><string>アリアナ・グランデ</string><key>shortcut</key><string>ありあなぐらんで</string></dict>
    <dict><key>phrase</key><string>ビリー・アイリッシュ</string><key>shortcut</key><string>びりーあいりっしゅ</string></dict>
    <dict><key>phrase</key><string>ザ・ウィークエンド</string><key>shortcut</key><string>ざうぃーくえんど</string></dict>
    <dict><key>phrase</key><string>ウィークエンド</string><key>shortcut</key><string>うぃーくえんど</string></dict>
    <dict><key>phrase</key><string>2パック</string><key>shortcut</key><string>つーぱっく</string></dict>
    <dict><key>phrase</key><string>ジェイ・Z</string><key>shortcut</key><string>じぇいずぃー</string></dict>
    <dict><key>phrase</key><string>カニエ・ウェスト</string><key>shortcut</key><string>かにえうぇすと</string></dict>
    <dict><key>phrase</key><string>ケンドリック・ラマー</string><key>shortcut</key><string>けんどりっくらまー</string></dict>
    <dict><key>phrase</key><string>ドクター・ドレー</string><key>shortcut</key><string>どくたーどれー</string></dict>
    <dict><key>phrase</key><string>ノトーリアス・B.I.G.</string><key>shortcut</key><string>のとーりあすびーあいじー</string></dict>
    <dict><key>phrase</key><string>ドレイク</string><key>shortcut</key><string>どれいく</string></dict>
    <dict><key>phrase</key><string>デュア・リパ</string><key>shortcut</key><string>でゅありぱ</string></dict>
    <dict><key>phrase</key><string>ブリトニー・スピアーズ</string><key>shortcut</key><string>ぶりとにーすぴあーず</string></dict>
    <dict><key>phrase</key><string>ジャネット・ジャクソン</string><key>shortcut</key><string>じゃねっとじゃくそん</string></dict>
    <dict><key>phrase</key><string>アバ</string><key>shortcut</key><string>あば</string></dict>
    <dict><key>phrase</key><string>ビーチ・ボーイズ</string><key>shortcut</key><string>びーちぼーいず</string></dict>
    <dict><key>phrase</key><string>ビー・ジーズ</string><key>shortcut</key><string>びーじーず</string></dict>
    <dict><key>phrase</key><string>バックストリート・ボーイズ</string><key>shortcut</key><string>ばっくすとりーとぼーいず</string></dict>
    <dict><key>phrase</key><string>マーヴィン・ゲイ</string><key>shortcut</key><string>まーゔぃんげい</string></dict>
    <dict><key>phrase</key><string>サム・クック</string><key>shortcut</key><string>さむくっく</string></dict>
    <dict><key>phrase</key><string>レイ・チャールズ</string><key>shortcut</key><string>れいちゃーるず</string></dict>
    <dict><key>phrase</key><string>ダイアナ・ロス</string><key>shortcut</key><string>だいあなろす</string></dict>
    <dict><key>phrase</key><string>ザ・フー</string><key>shortcut</key><string>ざふー</string></dict>
    <dict><key>phrase</key><string>フー</string><key>shortcut</key><string>ふー</string></dict>
    <dict><key>phrase</key><string>ディープ・パープル</string><key>shortcut</key><string>でぃーぷぱーぷる</string></dict>
    <dict><key>phrase</key><string>ブラック・サバス</string><key>shortcut</key><string>ぶらっくさばす</string></dict>
    <dict><key>phrase</key><string>オジー・オズボーン</string><key>shortcut</key><string>おじーおずぼーん</string></dict>
    <dict><key>phrase</key><string>ヴァン・ヘイレン</string><key>shortcut</key><string>ゔぁんへいれん</string></dict>
    <dict><key>phrase</key><string>グリーン・デイ</string><key>shortcut</key><string>ぐりーんでい</string></dict>
    <dict><key>phrase</key><string>リンキン・パーク</string><key>shortcut</key><string>りんきんぱーく</string></dict>
    <dict><key>phrase</key><string>ミューズ</string><key>shortcut</key><string>みゅーず</string></dict>
    <dict><key>phrase</key><string>フー・ファイターズ</string><key>shortcut</key><string>ふーふぁいたーず</string></dict>
    <dict><key>phrase</key><string>ブルース・スプリングスティーン</string><key>shortcut</key><string>ぶるーすすぷりんぐすてぃーん</string></dict>
    <dict><key>phrase</key><string>ニール・ヤング</string><key>shortcut</key><string>にーるやんぐ</string></dict>
    <dict><key>phrase</key><string>ザ・クラッシュ</string><key>shortcut</key><string>ざくらっしゅ</string></dict>
    <dict><key>phrase</key><string>クラッシュ</string><key>shortcut</key><string>くらっしゅ</string><key>pos</key><string>サ変名詞</string></dict>
    <dict><key>phrase</key><string>セックス・ピストルズ</string><key>shortcut</key><string>せっくすぴすとるず</string></dict>
    <dict><key>phrase</key><string>ザ・ドアーズ</string><key>shortcut</key><string>ざどあーず</string></dict>
    <dict><key>phrase</key><string>ドアーズ</string><key>shortcut</key><string>どあーず</string></dict>
    <dict><key>phrase</key><string>ジョン・コルトレーン</string><key>shortcut</key><string>じょんこるとれーん</string></dict>
    <dict><key>phrase</key><string>B.B.キング</string><key>shortcut</key><string>びーびーきんぐ</string></dict>
    <dict><key>phrase</key><string>ロバート・ジョンソン</string><key>shortcut</key><string>ろばーとじょんそん</string></dict>
    <dict><key>phrase</key><string>チャック・ベリー</string><key>shortcut</key><string>ちゃっくべりー</string></dict>
    <dict><key>phrase</key><string>リトル・リチャード</string><key>shortcut</key><string>りとるりちゃーど</string></dict>
    <dict><key>phrase</key><string>ジョニー・キャッシュ</string><key>shortcut</key><string>じょにーきゃっしゅ</string></dict>
    <dict><key>phrase</key><string>サイモン&amp;ガーファンクル</string><key>shortcut</key><string>さいもんあんどがーふぁんくる</string></dict>
    <dict><key>phrase</key><string>ジョニ・ミッチェル</string><key>shortcut</key><string>じょにみっちぇる</string></dict>
    <dict><key>phrase</key><string>レナード・コーエン</string><key>shortcut</key><string>れなーどこーえん</string></dict>
    <dict><key>phrase</key><string>エラ・フィッツジェラルド</string><key>shortcut</key><string>えらふぃっつじぇらるど</string></dict>
    <dict><key>phrase</key><string>ニーナ・シモン</string><key>shortcut</key><string>にーなしもん</string></dict>
    <dict><key>phrase</key><string>ビリー・ホリデイ</string><key>shortcut</key><string>びりーほりでい</string></dict>
    <dict><key>phrase</key><string>ダフト・パンク</string><key>shortcut</key><string>だふとぱんく</string></dict>
    <dict><key>phrase</key><string>クラフトワーク</string><key>shortcut</key><string>くらふとわーく</string></dict>
    <dict><key>phrase</key><string>カルロス・サンタナ</string><key>shortcut</key><string>かるろすさんたな</string></dict>
    <dict><key>phrase</key><string>エンニオ・モリコーネ</string><key>shortcut</key><string>えんにおもりこーね</string></dict>
    <dict><key>phrase</key><string>ビョーク</string><key>shortcut</key><string>びょーく</string></dict>
    <dict><key>phrase</key><string>セルジオ・メンデス</string><key>shortcut</key><string>せるじおめんです</string></dict>
    <dict><key>phrase</key><string>アストル・ピアソラ</string><key>shortcut</key><string>あすとるぴあそら</string></dict>
    <!-- 世界のミュージシャン100 (B) -->
    <dict><key>phrase</key><string>The Beatles</string><key>shortcut</key><string>ざびーとるず</string></dict>
    <dict><key>phrase</key><string>The Beatles</string><key>shortcut</key><string>びーとるず</string></dict>
    <dict><key>phrase</key><string>Michael Jackson</string><key>shortcut</key><string>まいけるじゃくそん</string></dict>
    <dict><key>phrase</key><string>Elvis Presley</string><key>shortcut</key><string>えるゔぃすぷれすりー</string></dict>
    <dict><key>phrase</key><string>Bob Dylan</string><key>shortcut</key><string>ぼぶでぃらん</string></dict>
    <dict><key>phrase</key><string>The Rolling Stones</string><key>shortcut</key><string>ざろーりんぐすとーんず</string></dict>
    <dict><key>phrase</key><string>The Rolling Stones</string><key>shortcut</key><string>ろーりんぐすとーんず</string></dict>
    <dict><key>phrase</key><string>Queen</string><key>shortcut</key><string>くいーん</string></dict>
    <dict><key>phrase</key><string>Madonna</string><key>shortcut</key><string>まどんな</string></dict>
    <dict><key>phrase</key><string>Led Zeppelin</string><key>shortcut</key><string>れっどつぇっぺりん</string></dict>
    <dict><key>phrase</key><string>David Bowie</string><key>shortcut</key><string>でゔぃっどぼうい</string></dict>
    <dict><key>phrase</key><string>Prince</string><key>shortcut</key><string>ぷりんす</string></dict>
    <dict><key>phrase</key><string>Stevie Wonder</string><key>shortcut</key><string>すてぃーゔぃーわんだー</string></dict>
    <dict><key>phrase</key><string>Jimi Hendrix</string><key>shortcut</key><string>じみへんどりっくす</string></dict>
    <dict><key>phrase</key><string>Bob Marley</string><key>shortcut</key><string>ぼぶまーりー</string></dict>
    <dict><key>phrase</key><string>Aretha Franklin</string><key>shortcut</key><string>あれさふらんくりん</string></dict>
    <dict><key>phrase</key><string>Pink Floyd</string><key>shortcut</key><string>ぴんくふろいど</string></dict>
    <dict><key>phrase</key><string>Nirvana</string><key>shortcut</key><string>にるゔぁーな</string></dict>
    <dict><key>phrase</key><string>Elton John</string><key>shortcut</key><string>えるとんじょん</string></dict>
    <dict><key>phrase</key><string>Paul McCartney</string><key>shortcut</key><string>ぽーるまっかーとにー</string></dict>
    <dict><key>phrase</key><string>John Lennon</string><key>shortcut</key><string>じょんれのん</string></dict>
    <dict><key>phrase</key><string>James Brown</string><key>shortcut</key><string>じぇーむすぶらうん</string></dict>
    <dict><key>phrase</key><string>Eric Clapton</string><key>shortcut</key><string>えりっくくらぷとん</string></dict>
    <dict><key>phrase</key><string>Taylor Swift</string><key>shortcut</key><string>ているーすうぃふと</string></dict>
    <dict><key>phrase</key><string>Beyoncé</string><key>shortcut</key><string>びよんせ</string></dict>
    <dict><key>phrase</key><string>Eminem</string><key>shortcut</key><string>えみねむ</string></dict>
    <dict><key>phrase</key><string>Miles Davis</string><key>shortcut</key><string>まいるずでいゔぃす</string></dict>
    <dict><key>phrase</key><string>Louis Armstrong</string><key>shortcut</key><string>るいあーむすとろんぐ</string></dict>
    <dict><key>phrase</key><string>Frank Sinatra</string><key>shortcut</key><string>ふらんくしなとら</string></dict>
    <dict><key>phrase</key><string>Whitney Houston</string><key>shortcut</key><string>ほいっとにーひゅーすとん</string></dict>
    <dict><key>phrase</key><string>Mariah Carey</string><key>shortcut</key><string>まらいあきゃりー</string></dict>
    <dict><key>phrase</key><string>Céline Dion</string><key>shortcut</key><string>せりーぬでぃおん</string></dict>
    <dict><key>phrase</key><string>U2</string><key>shortcut</key><string>ゆーつー</string></dict>
    <dict><key>phrase</key><string>AC/DC</string><key>shortcut</key><string>えーしーでぃーしー</string></dict>
    <dict><key>phrase</key><string>Metallica</string><key>shortcut</key><string>めたりか</string></dict>
    <dict><key>phrase</key><string>Guns N' Roses</string><key>shortcut</key><string>がんずあんどろーぜず</string></dict>
    <dict><key>phrase</key><string>Bon Jovi</string><key>shortcut</key><string>ぼんじょゔぃ</string></dict>
    <dict><key>phrase</key><string>Aerosmith</string><key>shortcut</key><string>えあろすみす</string></dict>
    <dict><key>phrase</key><string>Red Hot Chili Peppers</string><key>shortcut</key><string>れっどほっとちりぺっぱーず</string></dict>
    <dict><key>phrase</key><string>Oasis</string><key>shortcut</key><string>おあしす</string></dict>
    <dict><key>phrase</key><string>Radiohead</string><key>shortcut</key><string>れでぃおへっど</string></dict>
    <dict><key>phrase</key><string>Coldplay</string><key>shortcut</key><string>こーるどぷれい</string></dict>
    <dict><key>phrase</key><string>Bruno Mars</string><key>shortcut</key><string>ぶるーのまーず</string></dict>
    <dict><key>phrase</key><string>Ed Sheeran</string><key>shortcut</key><string>えどしーらん</string></dict>
    <dict><key>phrase</key><string>Lady Gaga</string><key>shortcut</key><string>れでぃーがが</string></dict>
    <dict><key>phrase</key><string>Adele</string><key>shortcut</key><string>あでる</string></dict>
    <dict><key>phrase</key><string>Rihanna</string><key>shortcut</key><string>りあーな</string></dict>
    <dict><key>phrase</key><string>Justin Bieber</string><key>shortcut</key><string>じゃすてぃんびーばー</string></dict>
    <dict><key>phrase</key><string>Ariana Grande</string><key>shortcut</key><string>ありあなぐらんで</string></dict>
    <dict><key>phrase</key><string>Billie Eilish</string><key>shortcut</key><string>びりーあいりっしゅ</string></dict>
    <dict><key>phrase</key><string>The Weeknd</string><key>shortcut</key><string>ざうぃーくえんど</string></dict>
    <dict><key>phrase</key><string>The Weeknd</string><key>shortcut</key><string>うぃーくえんど</string></dict>
    <dict><key>phrase</key><string>2Pac</string><key>shortcut</key><string>つーぱっく</string></dict>
    <dict><key>phrase</key><string>Jay-Z</string><key>shortcut</key><string>じぇいずぃー</string></dict>
    <dict><key>phrase</key><string>Kanye West</string><key>shortcut</key><string>かにえうぇすと</string></dict>
    <dict><key>phrase</key><string>Kendrick Lamar</string><key>shortcut</key><string>けんどりっくらまー</string></dict>
    <dict><key>phrase</key><string>Dr. Dre</string><key>shortcut</key><string>どくたーどれー</string></dict>
    <dict><key>phrase</key><string>The Notorious B.I.G.</string><key>shortcut</key><string>ざのとーりあすびーあいじー</string></dict>
    <dict><key>phrase</key><string>The Notorious B.I.G.</string><key>shortcut</key><string>のとーりあすびーあいじー</string></dict>
    <dict><key>phrase</key><string>Drake</string><key>shortcut</key><string>どれいく</string></dict>
    <dict><key>phrase</key><string>Dua Lipa</string><key>shortcut</key><string>でゅありぱ</string></dict>
    <dict><key>phrase</key><string>Britney Spears</string><key>shortcut</key><string>ぶりとにーすぴあーず</string></dict>
    <dict><key>phrase</key><string>Janet Jackson</string><key>shortcut</key><string>じゃねっとじゃくそん</string></dict>
    <dict><key>phrase</key><string>ABBA</string><key>shortcut</key><string>あば</string></dict>
    <dict><key>phrase</key><string>The Beach Boys</string><key>shortcut</key><string>ざびーちぼーいず</string></dict>
    <dict><key>phrase</key><string>The Beach Boys</string><key>shortcut</key><string>びーちぼーいず</string></dict>
    <dict><key>phrase</key><string>Bee Gees</string><key>shortcut</key><string>びーじーず</string></dict>
    <dict><key>phrase</key><string>Backstreet Boys</string><key>shortcut</key><string>ばっくすとりーとぼーいず</string></dict>
    <dict><key>phrase</key><string>Marvin Gaye</string><key>shortcut</key><string>まーゔぃんげい</string></dict>
    <dict><key>phrase</key><string>Sam Cooke</string><key>shortcut</key><string>さむくっく</string></dict>
    <dict><key>phrase</key><string>Ray Charles</string><key>shortcut</key><string>れいちゃーるず</string></dict>
    <dict><key>phrase</key><string>Diana Ross</string><key>shortcut</key><string>だいあなろす</string></dict>
    <dict><key>phrase</key><string>The Who</string><key>shortcut</key><string>ざふー</string></dict>
    <dict><key>phrase</key><string>The Who</string><key>shortcut</key><string>ふー</string></dict>
    <dict><key>phrase</key><string>Deep Purple</string><key>shortcut</key><string>でぃーぷぱーぷる</string></dict>
    <dict><key>phrase</key><string>Black Sabbath</string><key>shortcut</key><string>ぶらっくさばす</string></dict>
    <dict><key>phrase</key><string>Ozzy Osbourne</string><key>shortcut</key><string>おじーおずぼーん</string></dict>
    <dict><key>phrase</key><string>Van Halen</string><key>shortcut</key><string>ゔぁんへいれん</string></dict>
    <dict><key>phrase</key><string>Green Day</string><key>shortcut</key><string>ぐりーんでい</string></dict>
    <dict><key>phrase</key><string>Linkin Park</string><key>shortcut</key><string>りんきんぱーく</string></dict>
    <dict><key>phrase</key><string>Muse</string><key>shortcut</key><string>みゅーず</string></dict>
    <dict><key>phrase</key><string>Foo Fighters</string><key>shortcut</key><string>ふーふぁいたーず</string></dict>
    <dict><key>phrase</key><string>Bruce Springsteen</string><key>shortcut</key><string>ぶるーすすぷりんぐすてぃーん</string></dict>
    <dict><key>phrase</key><string>Neil Young</string><key>shortcut</key><string>にーるやんぐ</string></dict>
    <dict><key>phrase</key><string>The Clash</string><key>shortcut</key><string>ざくらっしゅ</string></dict>
    <dict><key>phrase</key><string>The Clash</string><key>shortcut</key><string>くらっしゅ</string></dict>
    <dict><key>phrase</key><string>Sex Pistols</string><key>shortcut</key><string>せっくすぴすとるず</string></dict>
    <dict><key>phrase</key><string>The Doors</string><key>shortcut</key><string>ざどあーず</string></dict>
    <dict><key>phrase</key><string>The Doors</string><key>shortcut</key><string>どあーず</string></dict>
    <dict><key>phrase</key><string>John Coltrane</string><key>shortcut</key><string>じょんこるとれーん</string></dict>
    <dict><key>phrase</key><string>B.B. King</string><key>shortcut</key><string>びーびーきんぐ</string></dict>
    <dict><key>phrase</key><string>Robert Johnson</string><key>shortcut</key><string>ろばーとじょんそん</string></dict>
    <dict><key>phrase</key><string>Chuck Berry</string><key>shortcut</key><string>ちゃっくべりー</string></dict>
    <dict><key>phrase</key><string>Little Richard</string><key>shortcut</key><string>りとるりちゃーど</string></dict>
    <dict><key>phrase</key><string>Johnny Cash</string><key>shortcut</key><string>じょにーきゃっしゅ</string></dict>
    <dict><key>phrase</key><string>Simon &amp; Garfunkel</string><key>shortcut</key><string>さいもんあんどがーふぁんくる</string></dict>
    <dict><key>phrase</key><string>Joni Mitchell</string><key>shortcut</key><string>じょにみっちぇる</string></dict>
    <dict><key>phrase</key><string>Leonard Cohen</string><key>shortcut</key><string>れなーどこーえん</string></dict>
    <dict><key>phrase</key><string>Ella Fitzgerald</string><key>shortcut</key><string>えらふぃっつじぇらるど</string></dict>
    <dict><key>phrase</key><string>Nina Simone</string><key>shortcut</key><string>にーなしもん</string></dict>
    <dict><key>phrase</key><string>Billie Holiday</string><key>shortcut</key><string>びりーほりでい</string></dict>
    <dict><key>phrase</key><string>Daft Punk</string><key>shortcut</key><string>だふとぱんく</string></dict>
    <dict><key>phrase</key><string>Kraftwerk</string><key>shortcut</key><string>くらふとわーく</string></dict>
    <dict><key>phrase</key><string>Carlos Santana</string><key>shortcut</key><string>かるろすさんたな</string></dict>
    <dict><key>phrase</key><string>Ennio Morricone</string><key>shortcut</key><string>えんにおもりこーね</string></dict>
    <dict><key>phrase</key><string>Björk</string><key>shortcut</key><string>びょーく</string></dict>
    <dict><key>phrase</key><string>Sérgio Mendes</string><key>shortcut</key><string>せるじおめんです</string></dict>
    <dict><key>phrase</key><string>Ástor Piazzolla</string><key>shortcut</key><string>あすとるぴあそら</string></dict>

    <!-- Jazz 102 (A) -->
	<dict><key>phrase</key><string>J・J・ジョンソン</string><key>shortcut</key><string>じぇいじぇいじょんそん</string></dict>
	<dict><key>phrase</key><string>アーティ・ショウ</string><key>shortcut</key><string>あーてぃしょう</string></dict>
	<dict><key>phrase</key><string>アート・ブレイキー</string><key>shortcut</key><string>あーとぶれいきー</string></dict>
	<dict><key>phrase</key><string>アート・ペッパー</string><key>shortcut</key><string>あーとぺっぱー</string></dict>
	<dict><key>phrase</key><string>アストラッド・ジルベルト</string><key>shortcut</key><string>あすとらっどじるべると</string></dict>
	<dict><key>phrase</key><string>アビー・リンカーン</string><key>shortcut</key><string>あびーりんかーん</string></dict>
	<dict><key>phrase</key><string>アリス・コルトレーン</string><key>shortcut</key><string>ありすこるとれーん</string></dict>
	<dict><key>phrase</key><string>アルバート・アイラー</string><key>shortcut</key><string>あるばーとあいらー</string></dict>
	<dict><key>phrase</key><string>アンソニー・ブラクストン</string><key>shortcut</key><string>あんそにーぶらくすとん</string></dict>
	<dict><key>phrase</key><string>アントニオ・カルロス・ジョビン</string><key>shortcut</key><string>あんとにおかるろすじょびん</string></dict>
	<dict><key>phrase</key><string>ウィントン・マルサリス</string><key>shortcut</key><string>うぃんとんまるさりす</string></dict>
	<dict><key>phrase</key><string>ウェイン・ショーター</string><key>shortcut</key><string>うぇいんしょーたー</string></dict>
	<dict><key>phrase</key><string>ウェス・モンゴメリー</string><key>shortcut</key><string>うぇすもんごめりー</string></dict>
	<dict><key>phrase</key><string>エスペランサ・スポルディング</string><key>shortcut</key><string>えすぺらんさすぽるでぃんぐ</string></dict>
	<dict><key>phrase</key><string>エラ・フィッツジェラルド</string><key>shortcut</key><string>えらふぃっつじぇらるど</string></dict>
	<dict><key>phrase</key><string>エリック・ドルフィー</string><key>shortcut</key><string>えりっくどるふぃー</string></dict>
	<dict><key>phrase</key><string>エルヴィン・ジョーンズ</string><key>shortcut</key><string>えるゔぃんじょーんず</string></dict>
	<dict><key>phrase</key><string>オーネット・コールマン</string><key>shortcut</key><string>おーねっとこーるまん</string></dict>
	<dict><key>phrase</key><string>カーラ・ブレイ</string><key>shortcut</key><string>かーらぶれい</string></dict>
	<dict><key>phrase</key><string>カウント・ベイシー</string><key>shortcut</key><string>かうんとべいしー</string></dict>
	<dict><key>phrase</key><string>カマシ・ワシントン</string><key>shortcut</key><string>かましわしんとん</string></dict>
	<dict><key>phrase</key><string>キース・ジャレット</string><key>shortcut</key><string>きーすじゃれっと</string></dict>
	<dict><key>phrase</key><string>キャノンボール・アダレイ</string><key>shortcut</key><string>きゃのんぼーるあだれい</string></dict>
	<dict><key>phrase</key><string>ギル・エヴァンス</string><key>shortcut</key><string>ぎるえゔぁんす</string></dict>
	<dict><key>phrase</key><string>キング・オリヴァー</string><key>shortcut</key><string>きんぐおりゔぁー</string></dict>
	<dict><key>phrase</key><string>クリス・ポッター</string><key>shortcut</key><string>くりすぽったー</string></dict>
	<dict><key>phrase</key><string>クリフォード・ブラウン</string><key>shortcut</key><string>くりふぉーどぶらうん</string></dict>
	<dict><key>phrase</key><string>グレン・ミラー</string><key>shortcut</key><string>ぐれんみらー</string></dict>
	<dict><key>phrase</key><string>ケニー・バレル</string><key>shortcut</key><string>けにーばれる</string></dict>
	<dict><key>phrase</key><string>コール・ポーター</string><key>shortcut</key><string>こーるぽーたー</string></dict>
	<dict><key>phrase</key><string>コールマン・ホーキンス</string><key>shortcut</key><string>こーるまんほーきんす</string></dict>
	<dict><key>phrase</key><string>サラ・ヴォーン</string><key>shortcut</key><string>さらゔぉーん</string></dict>
	<dict><key>phrase</key><string>サン・ラ</string><key>shortcut</key><string>さんら</string></dict>
	<dict><key>phrase</key><string>ジェームズ・P・ジョンソン</string><key>shortcut</key><string>じぇーむずぴーじょんそん</string></dict>
	<dict><key>phrase</key><string>ジェリー・マリガン</string><key>shortcut</key><string>じぇりーまりがん</string></dict>
	<dict><key>phrase</key><string>ジェリー・ロール・モートン</string><key>shortcut</key><string>じぇりーろーるもーとん</string></dict>
	<dict><key>phrase</key><string>シドニー・ベシェ</string><key>shortcut</key><string>しどにーべしぇ</string></dict>
	<dict><key>phrase</key><string>ジム・ホール</string><key>shortcut</key><string>じむほーる</string></dict>
	<dict><key>phrase</key><string>ジャコ・パストリアス</string><key>shortcut</key><string>じゃこぱすとりあす</string></dict>
	<dict><key>phrase</key><string>ジャンゴ・ラインハルト</string><key>shortcut</key><string>じゃんごらいんはると</string></dict>
	<dict><key>phrase</key><string>ジョアン・ジルベルト</string><key>shortcut</key><string>じょあんじるべると</string></dict>
	<dict><key>phrase</key><string>ジョー・ザヴィヌル</string><key>shortcut</key><string>じょーざゔぃぬる</string></dict>
	<dict><key>phrase</key><string>ジョージ・ガーシュウィン</string><key>shortcut</key><string>じょーじがーしゅうぃん</string></dict>
	<dict><key>phrase</key><string>ジョージ・ラッセル</string><key>shortcut</key><string>じょーじらっせる</string></dict>
	<dict><key>phrase</key><string>ジョー・ヘンダーソン</string><key>shortcut</key><string>じょーへんだーそん</string></dict>
	<dict><key>phrase</key><string>ジョシュア・レッドマン</string><key>shortcut</key><string>じょしゅあれっどまん</string></dict>
	<dict><key>phrase</key><string>ジョン・コルトレーン</string><key>shortcut</key><string>じょんこるとれーん</string></dict>
	<dict><key>phrase</key><string>ジョン・マクラフリン</string><key>shortcut</key><string>じょんまくらふりん</string></dict>
	<dict><key>phrase</key><string>スコット・ラファロ</string><key>shortcut</key><string>すこっとらふぁろ</string></dict>
	<dict><key>phrase</key><string>スタン・ゲッツ</string><key>shortcut</key><string>すたんげっつ</string></dict>
	<dict><key>phrase</key><string>スタンリー・クラーク</string><key>shortcut</key><string>すたんりーくらーく</string></dict>
	<dict><key>phrase</key><string>セシル・テイラー</string><key>shortcut</key><string>せしるていらー</string></dict>
	<dict><key>phrase</key><string>セロニアス・モンク</string><key>shortcut</key><string>せろにあすもんく</string></dict>
	<dict><key>phrase</key><string>ソニー・ロリンズ</string><key>shortcut</key><string>そにーろりんず</string></dict>
	<dict><key>phrase</key><string>タッド・ダメロン</string><key>shortcut</key><string>たっどだめろん</string></dict>
	<dict><key>phrase</key><string>チェット・ベイカー</string><key>shortcut</key><string>ちぇっとべいかー</string></dict>
	<dict><key>phrase</key><string>チック・コリア</string><key>shortcut</key><string>ちっくこりあ</string></dict>
	<dict><key>phrase</key><string>チャーリー・クリスチャン</string><key>shortcut</key><string>ちゃーりーくりすちゃん</string></dict>
	<dict><key>phrase</key><string>チャーリー・パーカー</string><key>shortcut</key><string>ちゃーりーぱーかー</string></dict>
	<dict><key>phrase</key><string>チャーリー・ヘイデン</string><key>shortcut</key><string>ちゃーりーへいでん</string></dict>
	<dict><key>phrase</key><string>チャールズ・ミンガス</string><key>shortcut</key><string>ちゃーるずみんがす</string></dict>
	<dict><key>phrase</key><string>デイヴ・ブルーベック</string><key>shortcut</key><string>でいゔぶるーべっく</string></dict>
	<dict><key>phrase</key><string>ディジー・ガレスピー</string><key>shortcut</key><string>でぃじーがれすぴー</string></dict>
	<dict><key>phrase</key><string>デューク・エリントン</string><key>shortcut</key><string>でゅーくえりんとん</string></dict>
	<dict><key>phrase</key><string>トニー・ウィリアムス</string><key>shortcut</key><string>とにーうぃりあむす</string></dict>
	<dict><key>phrase</key><string>ナット・キング・コール</string><key>shortcut</key><string>なっときんぐこーる</string></dict>
	<dict><key>phrase</key><string>ニナ・シモン</string><key>shortcut</key><string>になしもん</string></dict>
	<dict><key>phrase</key><string>ハービー・ハンコック</string><key>shortcut</key><string>はーびーはんこっく</string></dict>
	<dict><key>phrase</key><string>パット・メセニー</string><key>shortcut</key><string>ぱっとめせにー</string></dict>
	<dict><key>phrase</key><string>バド・パウエル</string><key>shortcut</key><string>ばどぱうえる</string></dict>
	<dict><key>phrase</key><string>ハンク・モブレー</string><key>shortcut</key><string>はんくもぶれー</string></dict>
	<dict><key>phrase</key><string>ビリー・ストレイホーン</string><key>shortcut</key><string>びりーすとれいほーん</string></dict>
	<dict><key>phrase</key><string>ビリー・ホリデイ</string><key>shortcut</key><string>びりーほりでい</string></dict>
	<dict><key>phrase</key><string>ビル・エヴァンス</string><key>shortcut</key><string>びるえゔぁんす</string></dict>
	<dict><key>phrase</key><string>ファッツ・ウォーラー</string><key>shortcut</key><string>ふぁっつうぉーらー</string></dict>
	<dict><key>phrase</key><string>フィリー・ジョー・ジョーンズ</string><key>shortcut</key><string>ふぃりーじょーじょーんず</string></dict>
	<dict><key>phrase</key><string>ブラッド・メルドー</string><key>shortcut</key><string>ぶらっどめるどー</string></dict>
	<dict><key>phrase</key><string>フランク・シナトラ</string><key>shortcut</key><string>ふらんくしなとら</string></dict>
	<dict><key>phrase</key><string>フレッチャー・ヘンダーソン</string><key>shortcut</key><string>ふれっちゃーへんだーそん</string></dict>
	<dict><key>phrase</key><string>フレディ・ハバード</string><key>shortcut</key><string>ふれでぃはばーど</string></dict>
	<dict><key>phrase</key><string>ベニー・グッドマン</string><key>shortcut</key><string>べにーぐっどまん</string></dict>
	<dict><key>phrase</key><string>ベニー・ゴルソン</string><key>shortcut</key><string>べにーごるそん</string></dict>
	<dict><key>phrase</key><string>ポール・チェンバース</string><key>shortcut</key><string>ぽーるちぇんばーす</string></dict>
	<dict><key>phrase</key><string>ポール・デスモンド</string><key>shortcut</key><string>ぽーるですもんど</string></dict>
	<dict><key>phrase</key><string>ホレス・シルヴァー</string><key>shortcut</key><string>ほれすしるゔぁー</string></dict>
	<dict><key>phrase</key><string>マイケル・ブレッカー</string><key>shortcut</key><string>まいけるぶれっかー</string></dict>
	<dict><key>phrase</key><string>マイルス・デイヴィス</string><key>shortcut</key><string>まいるすでいゔぃす</string></dict>
	<dict><key>phrase</key><string>マックス・ローチ</string><key>shortcut</key><string>まっくすろーち</string></dict>
	<dict><key>phrase</key><string>マッコイ・タイナー</string><key>shortcut</key><string>まっこいたいなー</string></dict>
	<dict><key>phrase</key><string>マリア・シュナイダー</string><key>shortcut</key><string>まりあしゅないだー</string></dict>
	<dict><key>phrase</key><string>ミルト・ジャクソン</string><key>shortcut</key><string>みるとじゃくそん</string></dict>
	<dict><key>phrase</key><string>メアリー・ルー・ウィリアムズ</string><key>shortcut</key><string>めありーるーうぃりあむず</string></dict>
	<dict><key>phrase</key><string>ライオネル・ハンプトン</string><key>shortcut</key><string>らいおねるはんぷとん</string></dict>
	<dict><key>phrase</key><string>ラサーン・ローランド・カーク</string><key>shortcut</key><string>らさーんろーらんどかーく</string></dict>
	<dict><key>phrase</key><string>リー・コニッツ</string><key>shortcut</key><string>りーこにっつ</string></dict>
	<dict><key>phrase</key><string>リー・モーガン</string><key>shortcut</key><string>りーもーがん</string></dict>
	<dict><key>phrase</key><string>ルイ・アームストロング</string><key>shortcut</key><string>るいあーむすとろんぐ</string></dict>
	<dict><key>phrase</key><string>レスター・ヤング</string><key>shortcut</key><string>れすたーやんぐ</string></dict>
	<dict><key>phrase</key><string>レニー・トリスターノ</string><key>shortcut</key><string>れにーとりすたーの</string></dict>
	<dict><key>phrase</key><string>ロイ・エルドリッジ</string><key>shortcut</key><string>ろいえるどりっじ</string></dict>
	<dict><key>phrase</key><string>ロイ・ハーグローヴ</string><key>shortcut</key><string>ろいはーぐろーゔ</string></dict>
	<dict><key>phrase</key><string>ロバート・グラスパー</string><key>shortcut</key><string>ろばーとぐらすぱー</string></dict>
    <!-- Jazz 102 (B) -->
	<dict><key>phrase</key><string>Abbey Lincoln</string><key>shortcut</key><string>あびーりんかーん</string></dict>
	<dict><key>phrase</key><string>Albert Ayler</string><key>shortcut</key><string>あるばーとあいらー</string></dict>
	<dict><key>phrase</key><string>Alice Coltrane</string><key>shortcut</key><string>ありすこるとれーん</string></dict>
	<dict><key>phrase</key><string>Anthony Braxton</string><key>shortcut</key><string>あんそにーぶらくすとん</string></dict>
	<dict><key>phrase</key><string>Antônio Carlos Jobim</string><key>shortcut</key><string>あんとにおかるろすじょびん</string></dict>
	<dict><key>phrase</key><string>Art Blakey</string><key>shortcut</key><string>あーとぶれいきー</string></dict>
	<dict><key>phrase</key><string>Art Pepper</string><key>shortcut</key><string>あーとぺっぱー</string></dict>
	<dict><key>phrase</key><string>Artie Shaw</string><key>shortcut</key><string>あーてぃしょう</string></dict>
	<dict><key>phrase</key><string>Astrud Gilberto</string><key>shortcut</key><string>あすとらっどじるべると</string></dict>
	<dict><key>phrase</key><string>Benny Golson</string><key>shortcut</key><string>べにーごるそん</string></dict>
	<dict><key>phrase</key><string>Benny Goodman</string><key>shortcut</key><string>べにーぐっどまん</string></dict>
	<dict><key>phrase</key><string>Bill Evans</string><key>shortcut</key><string>びるえゔぁんす</string></dict>
	<dict><key>phrase</key><string>Billie Holiday</string><key>shortcut</key><string>びりーほりでい</string></dict>
	<dict><key>phrase</key><string>Billy Strayhorn</string><key>shortcut</key><string>びりーすとれいほーん</string></dict>
	<dict><key>phrase</key><string>Brad Mehldau</string><key>shortcut</key><string>ぶらっどめるどー</string></dict>
	<dict><key>phrase</key><string>Bud Powell</string><key>shortcut</key><string>ばどぱうえる</string></dict>
	<dict><key>phrase</key><string>Cannonball Adderley</string><key>shortcut</key><string>きゃのんぼーるあだれい</string></dict>
	<dict><key>phrase</key><string>Carla Bley</string><key>shortcut</key><string>かーらぶれい</string></dict>
	<dict><key>phrase</key><string>Cecil Taylor</string><key>shortcut</key><string>せしるていらー</string></dict>
	<dict><key>phrase</key><string>Charles Mingus</string><key>shortcut</key><string>ちゃーるずみんがす</string></dict>
	<dict><key>phrase</key><string>Charlie Christian</string><key>shortcut</key><string>ちゃーりーくりすちゃん</string></dict>
	<dict><key>phrase</key><string>Charlie Haden</string><key>shortcut</key><string>ちゃーりーへいでん</string></dict>
	<dict><key>phrase</key><string>Charlie Parker</string><key>shortcut</key><string>ちゃーりーぱーかー</string></dict>
	<dict><key>phrase</key><string>Chet Baker</string><key>shortcut</key><string>ちぇっとべいかー</string></dict>
	<dict><key>phrase</key><string>Chick Corea</string><key>shortcut</key><string>ちっくこりあ</string></dict>
	<dict><key>phrase</key><string>Chris Potter</string><key>shortcut</key><string>くりすぽったー</string></dict>
	<dict><key>phrase</key><string>Clifford Brown</string><key>shortcut</key><string>くりふぉーどぶらうん</string></dict>
	<dict><key>phrase</key><string>Cole Porter</string><key>shortcut</key><string>こーるぽーたー</string></dict>
	<dict><key>phrase</key><string>Coleman Hawkins</string><key>shortcut</key><string>こーるまんほーきんす</string></dict>
	<dict><key>phrase</key><string>Count Basie</string><key>shortcut</key><string>かうんとべいしー</string></dict>
	<dict><key>phrase</key><string>Dave Brubeck</string><key>shortcut</key><string>でいゔぶるーべっく</string></dict>
	<dict><key>phrase</key><string>Dizzy Gillespie</string><key>shortcut</key><string>でぃじーがれすぴー</string></dict>
	<dict><key>phrase</key><string>Django Reinhardt</string><key>shortcut</key><string>じゃんごらいんはると</string></dict>
	<dict><key>phrase</key><string>Duke Ellington</string><key>shortcut</key><string>でゅーくえりんとん</string></dict>
	<dict><key>phrase</key><string>Ella Fitzgerald</string><key>shortcut</key><string>えらふぃっつじぇらるど</string></dict>
	<dict><key>phrase</key><string>Elvin Jones</string><key>shortcut</key><string>えるゔぃんじょーんず</string></dict>
	<dict><key>phrase</key><string>Eric Dolphy</string><key>shortcut</key><string>えりっくどるふぃー</string></dict>
	<dict><key>phrase</key><string>Esperanza Spalding</string><key>shortcut</key><string>えすぺらんさすぽるでぃんぐ</string></dict>
	<dict><key>phrase</key><string>Fats Waller</string><key>shortcut</key><string>ふぁっつうぉーらー</string></dict>
	<dict><key>phrase</key><string>Fletcher Henderson</string><key>shortcut</key><string>ふれっちゃーへんだーそん</string></dict>
	<dict><key>phrase</key><string>Frank Sinatra</string><key>shortcut</key><string>ふらんくしなとら</string></dict>
	<dict><key>phrase</key><string>Freddie Hubbard</string><key>shortcut</key><string>ふれでぃはばーど</string></dict>
	<dict><key>phrase</key><string>George Gershwin</string><key>shortcut</key><string>じょーじがーしゅうぃん</string></dict>
	<dict><key>phrase</key><string>George Russell</string><key>shortcut</key><string>じょーじらっせる</string></dict>
	<dict><key>phrase</key><string>Gerry Mulligan</string><key>shortcut</key><string>じぇりーまりがん</string></dict>
	<dict><key>phrase</key><string>Gil Evans</string><key>shortcut</key><string>ぎるえゔぁんす</string></dict>
	<dict><key>phrase</key><string>Glenn Miller</string><key>shortcut</key><string>ぐれんみらー</string></dict>
	<dict><key>phrase</key><string>Hank Mobley</string><key>shortcut</key><string>はんくもぶれー</string></dict>
	<dict><key>phrase</key><string>Herbie Hancock</string><key>shortcut</key><string>はーびーはんこっく</string></dict>
	<dict><key>phrase</key><string>Horace Silver</string><key>shortcut</key><string>ほれすしるゔぁー</string></dict>
	<dict><key>phrase</key><string>J. J. Johnson</string><key>shortcut</key><string>じぇいじぇいじょんそん</string></dict>
	<dict><key>phrase</key><string>Jaco Pastorius</string><key>shortcut</key><string>じゃこぱすとりあす</string></dict>
	<dict><key>phrase</key><string>James P. Johnson</string><key>shortcut</key><string>じぇーむずぴーじょんそん</string></dict>
	<dict><key>phrase</key><string>Jelly Roll Morton</string><key>shortcut</key><string>じぇりーろーるもーとん</string></dict>
	<dict><key>phrase</key><string>Jim Hall</string><key>shortcut</key><string>じむほーる</string></dict>
	<dict><key>phrase</key><string>Joe Henderson</string><key>shortcut</key><string>じょーへんだーそん</string></dict>
	<dict><key>phrase</key><string>Joe Zawinul</string><key>shortcut</key><string>じょーざゔぃぬる</string></dict>
	<dict><key>phrase</key><string>John Coltrane</string><key>shortcut</key><string>じょんこるとれーん</string></dict>
	<dict><key>phrase</key><string>John McLaughlin</string><key>shortcut</key><string>じょんまくらふりん</string></dict>
	<dict><key>phrase</key><string>João Gilberto</string><key>shortcut</key><string>じょあんじるべると</string></dict>
	<dict><key>phrase</key><string>Joshua Redman</string><key>shortcut</key><string>じょしゅあれっどまん</string></dict>
	<dict><key>phrase</key><string>Kamasi Washington</string><key>shortcut</key><string>かましわしんとん</string></dict>
	<dict><key>phrase</key><string>Keith Jarrett</string><key>shortcut</key><string>きーすじゃれっと</string></dict>
	<dict><key>phrase</key><string>Kenny Burrell</string><key>shortcut</key><string>けにーばれる</string></dict>
	<dict><key>phrase</key><string>King Oliver</string><key>shortcut</key><string>きんぐおりゔぁー</string></dict>
	<dict><key>phrase</key><string>Lee Konitz</string><key>shortcut</key><string>りーこにっつ</string></dict>
	<dict><key>phrase</key><string>Lee Morgan</string><key>shortcut</key><string>りーもーがん</string></dict>
	<dict><key>phrase</key><string>Lennie Tristano</string><key>shortcut</key><string>れにーとりすたーの</string></dict>
	<dict><key>phrase</key><string>Lester Young</string><key>shortcut</key><string>れすたーやんぐ</string></dict>
	<dict><key>phrase</key><string>Lionel Hampton</string><key>shortcut</key><string>らいおねるはんぷとん</string></dict>
	<dict><key>phrase</key><string>Louis Armstrong</string><key>shortcut</key><string>るいあーむすとろんぐ</string></dict>
	<dict><key>phrase</key><string>Maria Schneider</string><key>shortcut</key><string>まりあしゅないだー</string></dict>
	<dict><key>phrase</key><string>Mary Lou Williams</string><key>shortcut</key><string>めありーるーうぃりあむず</string></dict>
	<dict><key>phrase</key><string>Max Roach</string><key>shortcut</key><string>まっくすろーち</string></dict>
	<dict><key>phrase</key><string>McCoy Tyner</string><key>shortcut</key><string>まっこいたいなー</string></dict>
	<dict><key>phrase</key><string>Michael Brecker</string><key>shortcut</key><string>まいけるぶれっかー</string></dict>
	<dict><key>phrase</key><string>Miles Davis</string><key>shortcut</key><string>まいるすでいゔぃす</string></dict>
	<dict><key>phrase</key><string>Milt Jackson</string><key>shortcut</key><string>みるとじゃくそん</string></dict>
	<dict><key>phrase</key><string>Nat King Cole</string><key>shortcut</key><string>なっときんぐこーる</string></dict>
	<dict><key>phrase</key><string>Nina Simone</string><key>shortcut</key><string>になしもん</string></dict>
	<dict><key>phrase</key><string>Ornette Coleman</string><key>shortcut</key><string>おーねっとこーるまん</string></dict>
	<dict><key>phrase</key><string>Pat Metheny</string><key>shortcut</key><string>ぱっとめせにー</string></dict>
	<dict><key>phrase</key><string>Paul Chambers</string><key>shortcut</key><string>ぽーるちぇんばーす</string></dict>
	<dict><key>phrase</key><string>Paul Desmond</string><key>shortcut</key><string>ぽーるですもんど</string></dict>
	<dict><key>phrase</key><string>Philly Joe Jones</string><key>shortcut</key><string>ふぃりーじょーじょーんず</string></dict>
	<dict><key>phrase</key><string>Rahsaan Roland Kirk</string><key>shortcut</key><string>らさーんろーらんどかーく</string></dict>
	<dict><key>phrase</key><string>Robert Glasper</string><key>shortcut</key><string>ろばーとぐらすぱー</string></dict>
	<dict><key>phrase</key><string>Roy Eldridge</string><key>shortcut</key><string>ろいえるどりっじ</string></dict>
	<dict><key>phrase</key><string>Roy Hargrove</string><key>shortcut</key><string>ろいはーぐろーゔ</string></dict>
	<dict><key>phrase</key><string>Sarah Vaughan</string><key>shortcut</key><string>さらゔぉーん</string></dict>
	<dict><key>phrase</key><string>Scott LaFaro</string><key>shortcut</key><string>すこっとらふぁろ</string></dict>
	<dict><key>phrase</key><string>Sidney Bechet</string><key>shortcut</key><string>しどにーべしぇ</string></dict>
	<dict><key>phrase</key><string>Sonny Rollins</string><key>shortcut</key><string>そにーろりんず</string></dict>
	<dict><key>phrase</key><string>Stan Getz</string><key>shortcut</key><string>すたんげっつ</string></dict>
	<dict><key>phrase</key><string>Stanley Clarke</string><key>shortcut</key><string>すたんりーくらーく</string></dict>
	<dict><key>phrase</key><string>Sun Ra</string><key>shortcut</key><string>さんら</string></dict>
	<dict><key>phrase</key><string>Tadd Dameron</string><key>shortcut</key><string>たっどだめろん</string></dict>
	<dict><key>phrase</key><string>Thelonious Monk</string><key>shortcut</key><string>せろにあすもんく</string></dict>
	<dict><key>phrase</key><string>Tony Williams</string><key>shortcut</key><string>とにーうぃりあむす</string></dict>
	<dict><key>phrase</key><string>Wayne Shorter</string><key>shortcut</key><string>うぇいんしょーたー</string></dict>
	<dict><key>phrase</key><string>Wes Montgomery</string><key>shortcut</key><string>うぇすもんごめりー</string></dict>
	<dict><key>phrase</key><string>Wynton Marsalis</string><key>shortcut</key><string>うぃんとんまるさりす</string></dict>
</array>
</plist>
