<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<!-- ぶどう品種 -->

	<!-- 原産地呼称名 -->
	<!-- ワイン用ぶどう栽培技術用語 -->

	<!-- ワイン醸造技術用語 -->
	<!-- ワイン以外の飲料名 -->
	<!-- ワインの分類名、区分、種類 -->
	<!-- ワイン名 -->
	<!-- 料理や食材 -->
	<!-- チーズ -->
	<!-- ワインの外観や味の評価の名前 -->
	<!-- ワインの輸入や管理の用語 -->
	<!-- サーヴィスの用語 -->
	<!-- 人名 -->
	<!-- 微生物 -->
	<!-- 薬品 -->
	<!-- その他の不明なもの -->
	<!-- SudachiDictにもある -->
</array>
</plist>
