<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>	</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[設定]-[]-[]</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>;)</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string></string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:)</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☻</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>()</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>;-)</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>void@merope.pleiades.or.jp</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:-)</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>-[]</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> &gt; </string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>merope.pleiades@me.com</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>☻</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>iReal b</string>
		<key>shortcut</key>
		<string>あいりあるびー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>iReal Pro</string>
		<key>shortcut</key>
		<string>あいりあるぷろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Apple Intelligence</string>
		<key>shortcut</key>
		<string>あっぷるいんてりじぇんす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>アミノ酸塩</string>
		<key>shortcut</key>
		<string>あみのさんえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>礼華</string>
		<key>shortcut</key>
		<string>あやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>新小屋</string>
		<key>shortcut</key>
		<string>あらこや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>壱岐島</string>
		<key>shortcut</key>
		<string>いきのしま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>維新號</string>
		<key>shortcut</key>
		<string>いしんごう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>板目取り</string>
		<key>shortcut</key>
		<string>いためどり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1次</string>
		<key>shortcut</key>
		<string>いちじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1台</string>
		<key>shortcut</key>
		<string>いちだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1枚</string>
		<key>shortcut</key>
		<string>いちまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1か月</string>
		<key>shortcut</key>
		<string>いっかげつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>一級酒</string>
		<key>shortcut</key>
		<string>いっきゅうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1軒</string>
		<key>shortcut</key>
		<string>いっけん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>石庵</string>
		<key>shortcut</key>
		<string>いっしゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1週間</string>
		<key>shortcut</key>
		<string>いっしゅうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>一般米</string>
		<key>shortcut</key>
		<string>いっぱんまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1本</string>
		<key>shortcut</key>
		<string>いっぽん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>梨泰院</string>
		<key>shortcut</key>
		<string>いておん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>井之下</string>
		<key>shortcut</key>
		<string>いのした</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彌榮</string>
		<key>shortcut</key>
		<string>いやさか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岩の原</string>
		<key>shortcut</key>
		<string>いわのはら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岩の原葡萄園</string>
		<key>shortcut</key>
		<string>いわのはらぶどうえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヴィティス・ヴィニフェラ</string>
		<key>shortcut</key>
		<string>ゔぃてぃすゔぃにふぇら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヴィティス・ラブルスカ</string>
		<key>shortcut</key>
		<string>ゔぃてぃすらぶるすか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>碓屋</string>
		<key>shortcut</key>
		<string>うすや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宇那志</string>
		<key>shortcut</key>
		<string>うなし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宇良家</string>
		<key>shortcut</key>
		<string>うらや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>潤旬庵</string>
		<key>shortcut</key>
		<string>うりずんあん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雲白肉</string>
		<key>shortcut</key>
		<string>うんぱいろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>AirTag</string>
		<key>shortcut</key>
		<string>えあたぐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>AirMac Extreme</string>
		<key>shortcut</key>
		<string>えあまっくえくすとりーむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>AirMac Express</string>
		<key>shortcut</key>
		<string>えあまっくえくすぷれす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Hermès</string>
		<key>shortcut</key>
		<string>エルメス</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>演色</string>
		<key>shortcut</key>
		<string>えんしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>演色性能</string>
		<key>shortcut</key>
		<string>えんしょくせいのう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>オー・ブリオン</string>
		<key>shortcut</key>
		<string>おーぶりおん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖映通り</string>
		<key>shortcut</key>
		<string>おきえいどおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖銀</string>
		<key>shortcut</key>
		<string>おきぎん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖尚</string>
		<key>shortcut</key>
		<string>おきしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖大</string>
		<key>shortcut</key>
		<string>おきだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖電</string>
		<key>shortcut</key>
		<string>おきでん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖東</string>
		<key>shortcut</key>
		<string>おきとう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖東交通</string>
		<key>shortcut</key>
		<string>おきとうこうつう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>沖縄尚学</string>
		<key>shortcut</key>
		<string>おきなわしょうがく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Yrm3LCjq</string>
		<key>shortcut</key>
		<string>おきれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>遅摘み</string>
		<key>shortcut</key>
		<string>おそづみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>滓下げ</string>
		<key>shortcut</key>
		<string>おりさげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>澱抜き</string>
		<key>shortcut</key>
		<string>おりぬき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>滓引き</string>
		<key>shortcut</key>
		<string>おりびき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>改源</string>
		<key>shortcut</key>
		<string>かいげん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>外硬内軟</string>
		<key>shortcut</key>
		<string>がいこうないなん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>外為どっとコム</string>
		<key>shortcut</key>
		<string>がいためどっとこむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>櫂つき</string>
		<key>shortcut</key>
		<string>かいつき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>開南</string>
		<key>shortcut</key>
		<string>かいなん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>海邦</string>
		<key>shortcut</key>
		<string>かいほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>花々緒</string>
		<key>shortcut</key>
		<string>かかお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>核種</string>
		<key>shortcut</key>
		<string>かくしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>角正</string>
		<key>shortcut</key>
		<string>かくしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>拡大率</string>
		<key>shortcut</key>
		<string>かくだいりつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>掛米</string>
		<key>shortcut</key>
		<string>かけまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>勘解由</string>
		<key>shortcut</key>
		<string>かげゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>花人逢</string>
		<key>shortcut</key>
		<string>かじんほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>カプロン酸</string>
		<key>shortcut</key>
		<string>かぷろんさん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>果帽</string>
		<key>shortcut</key>
		<string>かぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>果房</string>
		<key>shortcut</key>
		<string>かぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>過放電</string>
		<key>shortcut</key>
		<string>かほうでん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上一之町</string>
		<key>shortcut</key>
		<string>かみいちのまち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上三之町</string>
		<key>shortcut</key>
		<string>かみさんのまち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上二之町</string>
		<key>shortcut</key>
		<string>かみにのまち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>果醪</string>
		<key>shortcut</key>
		<string>かもろみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かりゆしウェア</string>
		<key>shortcut</key>
		<string>かりゆしうぇあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>側板</string>
		<key>shortcut</key>
		<string>がわいた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>還元臭</string>
		<key>shortcut</key>
		<string>かんげんしゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>神里原</string>
		<key>shortcut</key>
		<string>かんざとばる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>漢謝園</string>
		<key>shortcut</key>
		<string>かんじゃえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>神蔵</string>
		<key>shortcut</key>
		<string>かんぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>含糖質物</string>
		<key>shortcut</key>
		<string>がんとうしつぶつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>木香</string>
		<key>shortcut</key>
		<string>きが</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>生醤油</string>
		<key>shortcut</key>
		<string>きじょうゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>貴醸酒</string>
		<key>shortcut</key>
		<string>きぞうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>木樽</string>
		<key>shortcut</key>
		<string>きだる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>橘餅</string>
		<key>shortcut</key>
		<string>きっぱん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桔餅</string>
		<key>shortcut</key>
		<string>きっぱん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紀の善</string>
		<key>shortcut</key>
		<string>きのぜん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>貴腐菌</string>
		<key>shortcut</key>
		<string>きふきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㐂平</string>
		<key>shortcut</key>
		<string>きへい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>球陽堂</string>
		<key>shortcut</key>
		<string>きゅうようどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>京美堂</string>
		<key>shortcut</key>
		<string>きょうびどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>玉荷包</string>
		<key>shortcut</key>
		<string>ぎょっかほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雲母坂</string>
		<key>shortcut</key>
		<string>きららざか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>金環蝕</string>
		<key>shortcut</key>
		<string>きんかんしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>金環日蝕</string>
		<key>shortcut</key>
		<string>きんかんにっしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>空芯菜</string>
		<key>shortcut</key>
		<string>くうしんさい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>串清</string>
		<key>shortcut</key>
		<string>くしきよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>串六×九</string>
		<key>shortcut</key>
		<string>くしろっく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>久寿玉</string>
		<key>shortcut</key>
		<string>くすだま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>久米仙</string>
		<key>shortcut</key>
		<string>くめせん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>桑田佳祐</string>
		<key>shortcut</key>
		<string>くわたけいすけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>群林堂</string>
		<key>shortcut</key>
		<string>ぐんりんどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ケイス</string>
		<key>shortcut</key>
		<string>けいす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>経世会</string>
		<key>shortcut</key>
		<string>けいせいかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ケイブル</string>
		<key>shortcut</key>
		<string>けいぶる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>結果枝</string>
		<key>shortcut</key>
		<string>けっかし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>結果母枝</string>
		<key>shortcut</key>
		<string>けっかぼし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高演色</string>
		<key>shortcut</key>
		<string>こうえんしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>香気成分</string>
		<key>shortcut</key>
		<string>こうきせいぶん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>香茹</string>
		<key>shortcut</key>
		<string>こうこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高山性気候</string>
		<key>shortcut</key>
		<string>こうざんせいきこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>光視症</string>
		<key>shortcut</key>
		<string>こうししょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>こうじ米</string>
		<key>shortcut</key>
		<string>こうじまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>香信</string>
		<key>shortcut</key>
		<string>こうしん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>高精米</string>
		<key>shortcut</key>
		<string>こうせいまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>好適米</string>
		<key>shortcut</key>
		<string>こうてきまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>黄麻</string>
		<key>shortcut</key>
		<string>こうま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>康竜</string>
		<key>shortcut</key>
		<string>こうりゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>香露</string>
		<key>shortcut</key>
		<string>こうろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>コート・ド・ニュイ</string>
		<key>shortcut</key>
		<string>こーとどにゅい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小金澤</string>
		<key>shortcut</key>
		<string>こがねざわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>国酒</string>
		<key>shortcut</key>
		<string>こくしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>黒葉</string>
		<key>shortcut</key>
		<string>こくよう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>御香水</string>
		<key>shortcut</key>
		<string>ごこうすい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>越淡麗</string>
		<key>shortcut</key>
		<string>こしたんれい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>고추</string>
		<key>shortcut</key>
		<string>こちゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>米こうじ</string>
		<key>shortcut</key>
		<string>こめこうじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>混醸</string>
		<key>shortcut</key>
		<string>こんじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蔡温</string>
		<key>shortcut</key>
		<string>さいおん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>綵花</string>
		<key>shortcut</key>
		<string>さいか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>齊華房</string>
		<key>shortcut</key>
		<string>さいかぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>砕米</string>
		<key>shortcut</key>
		<string>さいまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>榮東</string>
		<key>shortcut</key>
		<string>さかあがり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>栄町</string>
		<key>shortcut</key>
		<string>さかえまち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>﨑</string>
		<key>shortcut</key>
		<string>さき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紗鼓</string>
		<key>shortcut</key>
		<string>さこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紗鼓めし</string>
		<key>shortcut</key>
		<string>さこめし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>幸門</string>
		<key>shortcut</key>
		<string>さちじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佐辺</string>
		<key>shortcut</key>
		<string>さなべ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三角環</string>
		<key>shortcut</key>
		<string>さんかくかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3か月</string>
		<key>shortcut</key>
		<string>さんかげつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3軒</string>
		<key>shortcut</key>
		<string>さんけん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>餐仕</string>
		<key>shortcut</key>
		<string>さんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3週間</string>
		<key>shortcut</key>
		<string>さんしゅうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三州屋</string>
		<key>shortcut</key>
		<string>さんしゅうや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>サン・ジュリアン</string>
		<key>shortcut</key>
		<string>さんじゅりあん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三絃</string>
		<key>shortcut</key>
		<string>さんしん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三線</string>
		<key>shortcut</key>
		<string>さんしん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三増酒</string>
		<key>shortcut</key>
		<string>さんぞうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3台</string>
		<key>shortcut</key>
		<string>さんだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>サン・テステフ</string>
		<key>shortcut</key>
		<string>さんてすてふ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>残糖</string>
		<key>shortcut</key>
		<string>ざんとう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>残糖分</string>
		<key>shortcut</key>
		<string>ざんとうぶん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>残糖量</string>
		<key>shortcut</key>
		<string>ざんとうりょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三倍増醸法</string>
		<key>shortcut</key>
		<string>さんばいぞうじょうほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三番叟</string>
		<key>shortcut</key>
		<string>さんばそう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三方六</string>
		<key>shortcut</key>
		<string>さんぽうろく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3本</string>
		<key>shortcut</key>
		<string>さんぼん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3枚</string>
		<key>shortcut</key>
		<string>さんまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>産膜酵母</string>
		<key>shortcut</key>
		<string>さんまくこうぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じぇいや</string>
		<key>shortcut</key>
		<string>じぇいや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ジェロボアム</string>
		<key>shortcut</key>
		<string>じぇろぼあむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>十貫瀬</string>
		<key>shortcut</key>
		<string>じっかんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>勢理客</string>
		<key>shortcut</key>
		<string>じっちゃく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>志な乃</string>
		<key>shortcut</key>
		<string>しなの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しな乃</string>
		<key>shortcut</key>
		<string>しなの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>志のわ</string>
		<key>shortcut</key>
		<string>しのわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紫美</string>
		<key>shortcut</key>
		<string>しび</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蜀郷香</string>
		<key>shortcut</key>
		<string>しゅうしゃんしゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>酒造好適米</string>
		<key>shortcut</key>
		<string>しゅぞうこうてきまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>寿二庵</string>
		<key>shortcut</key>
		<string>じゅにあん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>主醗酵</string>
		<key>shortcut</key>
		<string>しゅはっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>酒母米</string>
		<key>shortcut</key>
		<string>しゅぼまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>醇良</string>
		<key>shortcut</key>
		<string>じゅんりょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>醇良酒</string>
		<key>shortcut</key>
		<string>じゅんりょうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>尚学</string>
		<key>shortcut</key>
		<string>しょうがく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>城岳</string>
		<key>shortcut</key>
		<string>じょうがく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上燗</string>
		<key>shortcut</key>
		<string>じょうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上喜元</string>
		<key>shortcut</key>
		<string>じょうきげん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蒸米</string>
		<key>shortcut</key>
		<string>じょうまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蒸米機</string>
		<key>shortcut</key>
		<string>じょうまいき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蒸溜器</string>
		<key>shortcut</key>
		<string>じょうりゅうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蒸溜酒</string>
		<key>shortcut</key>
		<string>じょうりゅうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>除梗</string>
		<key>shortcut</key>
		<string>じょこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>除葉</string>
		<key>shortcut</key>
		<string>じょよう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浸漬</string>
		<key>shortcut</key>
		<string>しんし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>新梢</string>
		<key>shortcut</key>
		<string>しんしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真精米歩合</string>
		<key>shortcut</key>
		<string>しんせいまいぶあい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浸漬</string>
		<key>shortcut</key>
		<string>しんせき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>浸漬米</string>
		<key>shortcut</key>
		<string>しんせきまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>新樽</string>
		<key>shortcut</key>
		<string>しんだる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>新疆</string>
		<key>shortcut</key>
		<string>しんちゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>心白</string>
		<key>shortcut</key>
		<string>しんぱく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>心白発現率</string>
		<key>shortcut</key>
		<string>しんぱくはつげんりつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>心白米</string>
		<key>shortcut</key>
		<string>しんぱくまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スヰートポーヅ</string>
		<key>shortcut</key>
		<string>すいーとぽーづ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Square</string>
		<key>shortcut</key>
		<string>すくえあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>洲さき</string>
		<key>shortcut</key>
		<string>すさき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>寿司の美登利</string>
		<key>shortcut</key>
		<string>すしのみどり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すず菜</string>
		<key>shortcut</key>
		<string>すずな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スパゲッティーニ</string>
		<key>shortcut</key>
		<string>すぱげってぃーに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>寿美久</string>
		<key>shortcut</key>
		<string>すみきゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>清酒</string>
		<key>shortcut</key>
		<string>すみさけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>生香園</string>
		<key>shortcut</key>
		<string>せいこうえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>正式版</string>
		<key>shortcut</key>
		<string>せいしきばん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>製成</string>
		<key>shortcut</key>
		<string>せいせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>清澄化</string>
		<key>shortcut</key>
		<string>せいちょうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>製麦</string>
		<key>shortcut</key>
		<string>せいばく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>請福</string>
		<key>shortcut</key>
		<string>せいふく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>整粒</string>
		<key>shortcut</key>
		<string>せいりゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>整粒歩合</string>
		<key>shortcut</key>
		<string>せいりゅうぶあい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>清和会</string>
		<key>shortcut</key>
		<string>せいわかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>勢理客</string>
		<key>shortcut</key>
		<string>せりきゃく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>全房</string>
		<key>shortcut</key>
		<string>ぜんぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千粒重</string>
		<key>shortcut</key>
		<string>せんりゅうじゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>線量</string>
		<key>shortcut</key>
		<string>せんりょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>線量計</string>
		<key>shortcut</key>
		<string>せんりょうけい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>崇元寺</string>
		<key>shortcut</key>
		<string>そうげんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>増醸酒</string>
		<key>shortcut</key>
		<string>ぞうじょうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>総ハゼ</string>
		<key>shortcut</key>
		<string>そうはぜ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宗和好み</string>
		<key>shortcut</key>
		<string>そうわごのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>速醸酛</string>
		<key>shortcut</key>
		<string>そくじょうもと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>担仔麺</string>
		<key>shortcut</key>
		<string>たーみー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大亜</string>
		<key>shortcut</key>
		<string>だいあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>第1世代</string>
		<key>shortcut</key>
		<string>だいいちせだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>第3世代</string>
		<key>shortcut</key>
		<string>だいさんせだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大典寺</string>
		<key>shortcut</key>
		<string>だいてんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>台南担仔麺</string>
		<key>shortcut</key>
		<string>たいなんたーみー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>第2世代</string>
		<key>shortcut</key>
		<string>だいにせだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>たかね錦</string>
		<key>shortcut</key>
		<string>たかねにしき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>多酸酵母</string>
		<key>shortcut</key>
		<string>たさんこうぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>打栓</string>
		<key>shortcut</key>
		<string>だせん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>竪型精米機</string>
		<key>shortcut</key>
		<string>たてがたせいまいき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>多頭飼い</string>
		<key>shortcut</key>
		<string>たとうがい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>玉栄</string>
		<key>shortcut</key>
		<string>たまさかえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>樽側板</string>
		<key>shortcut</key>
		<string>たるがわいた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>樽香</string>
		<key>shortcut</key>
		<string>たるこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>単為結果</string>
		<key>shortcut</key>
		<string>たんいけっか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>短稈</string>
		<key>shortcut</key>
		<string>たんかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>短稈渡船</string>
		<key>shortcut</key>
		<string>たんかんわたりぶね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>暖治</string>
		<key>shortcut</key>
		<string>だんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>短梢</string>
		<key>shortcut</key>
		<string>たんしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>短焦点</string>
		<key>shortcut</key>
		<string>たんしょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>暖暮</string>
		<key>shortcut</key>
		<string>だんぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>稚加栄</string>
		<key>shortcut</key>
		<string>ちかえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>昼光色</string>
		<key>shortcut</key>
		<string>ちゅうこうしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>昼白色</string>
		<key>shortcut</key>
		<string>ちゅうはくしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>調光器</string>
		<key>shortcut</key>
		<string>ちょうこうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>長梢</string>
		<key>shortcut</key>
		<string>ちょうしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>超短焦点</string>
		<key>shortcut</key>
		<string>ちょうたんしょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> 超短焦点</string>
		<key>shortcut</key>
		<string>ちょうたんしょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>趙楊</string>
		<key>shortcut</key>
		<string>ちょうよう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>突きハゼ</string>
		<key>shortcut</key>
		<string>つきはぜ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>泥灰質</string>
		<key>shortcut</key>
		<string>でいかいしつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>泥灰土</string>
		<key>shortcut</key>
		<string>でいかいど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テイブル</string>
		<key>shortcut</key>
		<string>ていぶる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テット・ド・フロマージュ</string>
		<key>shortcut</key>
		<string>てっとどふろまーじゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テット・ド・モアンヌ</string>
		<key>shortcut</key>
		<string>てっとどもあんぬ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>照喜名</string>
		<key>shortcut</key>
		<string>てるきな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>出羽桜</string>
		<key>shortcut</key>
		<string>でわざくら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>出羽燦々</string>
		<key>shortcut</key>
		<string>でわさんさん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>電界強度</string>
		<key>shortcut</key>
		<string>でんかいきょうど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>でんぷん質物</string>
		<key>shortcut</key>
		<string>でんぷんしつぶつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>展葉</string>
		<key>shortcut</key>
		<string>てんよう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>糖化性</string>
		<key>shortcut</key>
		<string>とうかせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冬瓜漬</string>
		<key>shortcut</key>
		<string>とうがづけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>東光園</string>
		<key>shortcut</key>
		<string>とうこうえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>陶柿園</string>
		<key>shortcut</key>
		<string>とうしえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>登熟期</string>
		<key>shortcut</key>
		<string>とうじゅくき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>豆腐餻</string>
		<key>shortcut</key>
		<string>とうふよう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>稲豊園</string>
		<key>shortcut</key>
		<string>とうほうえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>胴割れ</string>
		<key>shortcut</key>
		<string>どうわれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>特定名称酒</string>
		<key>shortcut</key>
		<string>とくていめいしょうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>特級酒</string>
		<key>shortcut</key>
		<string>とっきゅうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>独標</string>
		<key>shortcut</key>
		<string>どっぴょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>とまりん</string>
		<key>shortcut</key>
		<string>とまりん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>富永敬俊</string>
		<key>shortcut</key>
		<string>とみながたかとし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鳥拓</string>
		<key>shortcut</key>
		<string>とりたく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冬茹</string>
		<key>shortcut</key>
		<string>どんこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仲尾次</string>
		<key>shortcut</key>
		<string>なかおじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>なか川</string>
		<key>shortcut</key>
		<string>なかがわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>中生</string>
		<key>shortcut</key>
		<string>なかて</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仲々</string>
		<key>shortcut</key>
		<string>なかなか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>なか邑</string>
		<key>shortcut</key>
		<string>なかむら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>中山七里</string>
		<key>shortcut</key>
		<string>なかやましちり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nanoleaf</string>
		<key>shortcut</key>
		<string>なのりーふ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>なはーと</string>
		<key>shortcut</key>
		<string>なはーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>何か月</string>
		<key>shortcut</key>
		<string>なんかげつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>南極老人星</string>
		<key>shortcut</key>
		<string>なんきょくろうじんせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>軟質米</string>
		<key>shortcut</key>
		<string>なんしつまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2か月</string>
		<key>shortcut</key>
		<string>にかげつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にく久</string>
		<key>shortcut</key>
		<string>にくきゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2軒</string>
		<key>shortcut</key>
		<string>にけん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2次</string>
		<key>shortcut</key>
		<string>にじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>に志かわ</string>
		<key>shortcut</key>
		<string>にしかわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>西之一色町</string>
		<key>shortcut</key>
		<string>にしのいっしきまち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二次醗酵</string>
		<key>shortcut</key>
		<string>にじはっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2次醗酵</string>
		<key>shortcut</key>
		<string>にじはっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二次醪</string>
		<key>shortcut</key>
		<string>にじもろみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2週間</string>
		<key>shortcut</key>
		<string>にしゅうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2台</string>
		<key>shortcut</key>
		<string>にだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>弐ノ弐</string>
		<key>shortcut</key>
		<string>にのに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2本</string>
		<key>shortcut</key>
		<string>にほん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2枚</string>
		<key>shortcut</key>
		<string>にまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二万八千石</string>
		<key>shortcut</key>
		<string>にまんはっせんごく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乳種</string>
		<key>shortcut</key>
		<string>にゅうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>濃縮感</string>
		<key>shortcut</key>
		<string>のうしゅくかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>農連</string>
		<key>shortcut</key>
		<string>のうれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>農連市場</string>
		<key>shortcut</key>
		<string>のうれんいちば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乃が美</string>
		<key>shortcut</key>
		<string>のがみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紀雅</string>
		<key>shortcut</key>
		<string>のりまさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Buy&amp;Ship</string>
		<key>shortcut</key>
		<string>ばいあんどしっぷ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>白酒</string>
		<key>shortcut</key>
		<string>ぱいちゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>配糖体</string>
		<key>shortcut</key>
		<string>はいとうたい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Binance</string>
		<key>shortcut</key>
		<string>ばいなんす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>白亜質</string>
		<key>shortcut</key>
		<string>はくあしつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>醗酵槽</string>
		<key>shortcut</key>
		<string>はっこうそう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>バッフィーノ</string>
		<key>shortcut</key>
		<string>ばっふぃーの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>離</string>
		<key>shortcut</key>
		<string>はなれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>半影蝕</string>
		<key>shortcut</key>
		<string>はんえいしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>半人半馬</string>
		<key>shortcut</key>
		<string>はんじんはんば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>火落ち</string>
		<key>shortcut</key>
		<string>ひおち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>火落ち菌</string>
		<key>shortcut</key>
		<string>ひおちきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひだほまれ</string>
		<key>shortcut</key>
		<string>ひだほまれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1つ</string>
		<key>shortcut</key>
		<string>ひとつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>人肌燗</string>
		<key>shortcut</key>
		<string>ひとはだかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひなた燗</string>
		<key>shortcut</key>
		<string>ひなたかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>微発泡</string>
		<key>shortcut</key>
		<string>びはっぽう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>微泡</string>
		<key>shortcut</key>
		<string>びほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>比屋定</string>
		<key>shortcut</key>
		<string>ひやじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>比屋定篤子</string>
		<key>shortcut</key>
		<string>ひやじょうあつこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フィロキセラ禍</string>
		<key>shortcut</key>
		<string>ふぃろきせらか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ブーダン・ノワール</string>
		<key>shortcut</key>
		<string>ぶーだんのわーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Fostex</string>
		<key>shortcut</key>
		<string>ふぉすてっくす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>復号化</string>
		<key>shortcut</key>
		<string>ふくごうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>福州園</string>
		<key>shortcut</key>
		<string>ふくしゅうえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>副生成物</string>
		<key>shortcut</key>
		<string>ふくせいせいぶつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>藤商</string>
		<key>shortcut</key>
		<string>ふじしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>富士酢</string>
		<key>shortcut</key>
		<string>ふじす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2つ</string>
		<key>shortcut</key>
		<string>ふたつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぶどう</string>
		<key>shortcut</key>
		<string>ぶどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぶどう品種</string>
		<key>shortcut</key>
		<string>ぶどうひんしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>部分日蝕</string>
		<key>shortcut</key>
		<string>ぶぶんにっしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>プリミティーヴォ</string>
		<key>shortcut</key>
		<string>ぷりみてぃーゔぉ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>黄酒</string>
		<key>shortcut</key>
		<string>ほあんちゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伯耆国</string>
		<key>shortcut</key>
		<string>ほうきこく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>防湿庫</string>
		<key>shortcut</key>
		<string>ぼうしつこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宝隆軒</string>
		<key>shortcut</key>
		<string>ほうりゅうけん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>補酒</string>
		<key>shortcut</key>
		<string>ほしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>補糖</string>
		<key>shortcut</key>
		<string>ほとう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>保肥</string>
		<key>shortcut</key>
		<string>ほひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>µ</string>
		<key>shortcut</key>
		<string>まいくろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Microwave</string>
		<key>shortcut</key>
		<string>まいくろうえいゔ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>舞富名</string>
		<key>shortcut</key>
		<string>まいふな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Mountain Lion</string>
		<key>shortcut</key>
		<string>まうんてんらいおん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柾目取り</string>
		<key>shortcut</key>
		<string>まさめどり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真境名</string>
		<key>shortcut</key>
		<string>まじきな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MaxValu</string>
		<key>shortcut</key>
		<string>まっくすばりゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丸環</string>
		<key>shortcut</key>
		<string>まるかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>真和志</string>
		<key>shortcut</key>
		<string>まわし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>海色</string>
		<key>shortcut</key>
		<string>みいろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>海音</string>
		<key>shortcut</key>
		<string>みおん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>見掛精米歩合</string>
		<key>shortcut</key>
		<string>みかけせいまいぶあい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美郷錦</string>
		<key>shortcut</key>
		<string>みさとにしき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3つ</string>
		<key>shortcut</key>
		<string>みっつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>美登利寿司</string>
		<key>shortcut</key>
		<string>みどりずし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みやび庵</string>
		<key>shortcut</key>
		<string>みやびあん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宮水</string>
		<key>shortcut</key>
		<string>みやみず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>村米</string>
		<key>shortcut</key>
		<string>むらまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>村米制度</string>
		<key>shortcut</key>
		<string>むらまいせいど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>梅香</string>
		<key>shortcut</key>
		<string>めいしゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>銘醸地</string>
		<key>shortcut</key>
		<string>めいじょうち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>酛米</string>
		<key>shortcut</key>
		<string>もとまい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>屋我地</string>
		<key>shortcut</key>
		<string>やがち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>屋我地島</string>
		<key>shortcut</key>
		<string>やがちしま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山羊乳</string>
		<key>shortcut</key>
		<string>やぎにゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>八汐荘</string>
		<key>shortcut</key>
		<string>やしおそう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>安木屋</string>
		<key>shortcut</key>
		<string>やすきや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山田穂</string>
		<key>shortcut</key>
		<string>やまだぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山廃</string>
		<key>shortcut</key>
		<string>やまはい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山廃系酒母</string>
		<key>shortcut</key>
		<string>やまはいけいしゅぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山廃仕込</string>
		<key>shortcut</key>
		<string>やまはいじこみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>山廃酛</string>
		<key>shortcut</key>
		<string>やまはいもと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>燕郷房</string>
		<key>shortcut</key>
		<string>やんきょうふぁん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>結アパート</string>
		<key>shortcut</key>
		<string>ゆいあぱーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>US-BUYER</string>
		<key>shortcut</key>
		<string>ゆーえすばいやー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>陽心会</string>
		<key>shortcut</key>
		<string>ようしんかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>4週間</string>
		<key>shortcut</key>
		<string>よんしゅうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Lightning</string>
		<key>shortcut</key>
		<string>らいとにんぐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Raspberry Pi</string>
		<key>shortcut</key>
		<string>らずべりーぱい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蘭桂坊</string>
		<key>shortcut</key>
		<string>らんけいぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>流求茶館</string>
		<key>shortcut</key>
		<string>りゅうきゅうちゃかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琉銀</string>
		<key>shortcut</key>
		<string>りゅうぎん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柳月</string>
		<key>shortcut</key>
		<string>りゅうげつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琉神マブヤー</string>
		<key>shortcut</key>
		<string>りゅうじんまぶやー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琉生病院</string>
		<key>shortcut</key>
		<string>りゅうせいびょういん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琉装</string>
		<key>shortcut</key>
		<string>りゅうそう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琉大</string>
		<key>shortcut</key>
		<string>りゅうだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>良酒</string>
		<key>shortcut</key>
		<string>りょうしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Linksys</string>
		<key>shortcut</key>
		<string>りんくしす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>林昌</string>
		<key>shortcut</key>
		<string>りんしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>魯肉飯</string>
		<key>shortcut</key>
		<string>るーろーふぁん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>滷肉飯</string>
		<key>shortcut</key>
		<string>るーろーふぁん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>レッジャーノ</string>
		<key>shortcut</key>
		<string>れっじゃーの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>六条大麦</string>
		<key>shortcut</key>
		<string>ろくじょうおおむぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>和飲食堂</string>
		<key>shortcut</key>
		<string>わいんしょくどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>和香</string>
		<key>shortcut</key>
		<string>わか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渡船</string>
		<key>shortcut</key>
		<string>わたりぶね</string>
	</dict>
</array>
</plist>
